{% extends '_layout/base.twig' %}

{% block content %}

	<main class="container max-w-md p-4">

		<h1>404 - Page not found</h1>

		<p>Please go to the
			<a href="{{site.url}}">homepage</a>.</p>

	</main>

{% endblock %}
